{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registration </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}">

</head>

<body>
    
    <form action='register' method='post'>
        
        {%csrf_token%}
        <div class="container">
            <h2>Travello Register </h2>

        <label for="firstname"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="first_name" required>

        <label for="lastname"><b>Last Name</b></label>
        <input type="text" placeholder="Enter last Name" name="last_name" required>

        <label for="username"><b>UserName</b></label>
        <input type="text" placeholder="Enter User Name" name="username" required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>

        <label for="password1"><b>Password</b></label>
        <input type="password" placeholder="Enter password" name="password1" required>

        <label for="password2"><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirem Password" name="password2" required>


        <button type="submit" class="registerbtn">Register</button>
        </div>
    </form>

    <div>
        {% for m in messages %}
        <h3>{{m}}</h3>
        {% endfor %}
    </div>

</body>

</html>